.rotate {
  animation: rotate-keyframes 1s;
  animation-fill-mode: forwards;
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

.rotate-back {
  animation: rotate-back 1s;
  animation-fill-mode: forwards;
}

@keyframes rotate-back {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}
